body{

background-color: #FFEBCD;
color: black;
}

*{
  box-sizing: border-box;
}

h1 { text-align: center;
color: #F0F8FF;
font-size: 70px;
font-weight:bolder;
font-family:monospace;
background-color: #2F4F4F;
}

h2{ background-color: #2F4F4F;
  font-size: 40px;
  color: #F0F8FF;
  font-family: monospace;
  display: inline;
  position: relative;
  left:800px;
  border: 5px solid Darkblue;
  border-radius: 10px;
}

h3 { text-align: inherit;
  color: #9370DB;
  text-decoration: underline;
  font-family: fantasy;
  font-size: 30px;
  font-weight: bolder;
}

  /* OTRA FORMA TAMBIEN ERA HACER LO DE POSITION -- RELATIVE Y PONER LOS PX QUE PARECIAN. */


div > ul.ul1 {
  list-style: none;
}

div > ul.ul1 >li > a:link, div > ul.ul1 > li > a:visited {
  text-decoration: none;
  color:#F0F8FF;
  background-color: #2F4F4F;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 3px;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 30px;
  font-family:monospace;
  float: right;
  clear: right;
}

div > ul.ul1 > li > a:hover, div > ul.ul1 > li > a:active {
  background-color: blue;
  color: white;
  transition: background-color 1s;
}

article{
  text-align: center;
  font-size: 200%;
  color:#2F4F4F;
  font-weight: lighter;
  font-family: fantasy;
}

li{
  font-size: 18px;
  color: #4682B4;
  font-weight: bold;
  font-family: arial black;
}

#parrafosolo {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  text-decoration:overline underline;
  color: #2F4F4F;
  font-weight: bolder;
  margin-top: 300px;
}

#caja {
  background-color:blue;
  padding:10px 10px 10px 10px;
  border:3px solid red;
  border-radius: 5px;
  margin: 50px 300px 0px 800px;
  width: 300px;
}

#contenidodecaja{
  color:black;
  background-color: lightblue;
  text-align: center;
  font-weight: bold;
}

#caja2 {
 background-color: #2F4F4F;
 padding: 10px 20px 10px 20px;
 border: 8px solid darkblue;
 border-radius: 5px;
 margin: 50px 300px 0px 700px;
 width: 500px;
 height: 100px;
 overflow:auto;


}

#contenidodecaja2 {
  background-color: lightblue;
  color: black;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  border: 5px solid darkblue;
  border-radius: 5px;
  text-align: center;
}


#backgroundcaja{
  background-color: #2F4F4F;
  padding: 10px;
  border: 5px solid white;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  overflow: auto;
  margin: 100px 0px 0px 800px;

}
#backgroundimage
{
border: 2px solid white;
  border-radius: 5px;
margin: 10px;
  width: 200px;
  height: 350px;
background: url("rama1.png") no-repeat center
/* ACA ERA LO MISMO PONER backgroundimage backgroundrepeat backgroundposition */
}

div.divparrafos >p {

  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 200%;
  font-style: normal;
  font-family: fantasy;
  width: 20%;
}
#p1{
  float:right;
clear:both;
  height: 50px;
 background-color: #9932CC;
}

  #p2{
    float: right;
clear:both;
    height: 50px;
    background-color: #ADD8E6;
}

    #p3{
      float:left;

      height: 50px;
      background-color: #191970;
    }
  #p4{
        float: left;
clear:both;
        height: 50px;
        background-color: #008B8B;
      }
