body{

background-color: #FFEBCD;
color: black;
}

*{
  box-sizing: border-box;
}

h1 { text-align: center;
color: #F0F8FF;
font-size: 70px;
font-weight:bolder;
font-family:monospace;
background-color: #2F4F4F;

}

h2{ background-color: #2F4F4F;
  font-size: 40px;
  color: #F0F8FF;
  font-family: monospace;
  border: 5px solid Darkblue;
  border-radius: 10px;
  text-align: center;
  width:25%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

h3 { text-align: inherit;
  color: #9370DB;
  text-decoration: underline;
  font-family: fantasy;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 100px;

}

.container3 {
  position: relative;
  left:1200px;
  bottom: 397px;
}

div.divresponsable{
  width: 100%;
}
p.presp {
  background: url("espacio.jpg") no-repeat center;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  width:90%;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 1200px){
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
  float: left;
  border: 2px solid #191970; }
.col-lg-1 {
  width: 8.33%;
}
.col-lg-2 {
  width: 16.66%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33%
}
.col-lg-5 {
  width: 41.66%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-8 {
  width: 66.66%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33%;
}
.col-lg-11 {
  width: 91.66%;
}
.col-lg-12 {
  width: 100%
}
}
@media ( min-width: 992px) and (max-width:1199px){
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left;
  border: 2px solid #191970;
}
.comdmd-1 {
  width: 8.33%;
}
.col-md-2 {
  width: 16.66%;
}
.col-md-3 {
  width: 25%;
}
.col-md-4 {
  width: 33.33%
}
.col-md-5 {
  width: 41.66%;
}
.col-md-6 {
  width: 50%;
}
.col-md-7 {
  width: 58.33%;
}
.col-md-8 {
  width: 66.66%;
}
.col-md-9 {
  width: 75%;
}
.col-md-10 {
  width: 83.33%;
}
.col-md-11 {
  width: 91.66%;
}
.col-md-12 {
  width: 100%
}
}


  /* OTRA FORMA TAMBIEN ERA HACER LO DE POSITION -- RELATIVE Y PONER LOS PX QUE PARECIAN. */


div > ul.ul1 {
  list-style: none;
}

div > ul.ul1 >li > a:link, div > ul.ul1 > li > a:visited {
  text-decoration: none;
  color:#F0F8FF;
  background-color: #2F4F4F;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 3px;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 30px;
  font-family:monospace;
  float: right;
  clear: right;
}

div > ul.ul1 > li > a:hover, div > ul.ul1 > li > a:active {
  background-color: blue;
  color: white;
  transition: background-color 1s;
}

article{
  text-align: center;
  font-size: 200%;
  color:#2F4F4F;
  font-weight: lighter;
  font-family: fantasy;
}

li{
  font-size: 18px;
  color: #4682B4;
  font-weight: bold;
  font-family: arial black;
}

#parrafosolo {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  text-decoration:overline underline;
  color: #2F4F4F;
  font-weight: bolder;
  margin-top: 300px;
}

#caja {
  background-color:blue;
  padding:10px 10px 10px 10px;
  border:3px solid red;
  border-radius: 5px;
  margin: 50px 300px 0px 800px;
  width: 300px;
}

#contenidodecaja{
  color:black;
  background-color: lightblue;
  text-align: center;
  font-weight: bold;
}

#caja2 {
 background-color: #2F4F4F;
 padding: 10px 20px 10px 20px;
 border: 8px solid darkblue;
 border-radius: 5px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 25px;
 width: 25%;
 height: 100px;
 overflow:auto;


}

#contenidodecaja2 {
  background-color: lightblue;
  color: black;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  border: 5px solid darkblue;
  border-radius: 5px;
  text-align: center;
}


#backgroundcaja{
  background-color: #2F4F4F;
  padding: 10px;
  border: 5px solid white;
  border-radius: 10px;
  width: 15%;
  height: 400px;
  overflow: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;


}
#backgroundimage
{
border: 2px solid white;
  border-radius: 5px;
margin: 10px 0px 10px 0px;
margin-left: auto;
margin-right: auto;
  width: 90%;
  height: 350px;
background: url("rama1.png") no-repeat center
/* ACA ERA LO MISMO PONER backgroundimage backgroundrepeat backgroundposition */
}

div.divparrafos >p {

  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 200%;
  font-style: normal;
  font-family: fantasy;
  width: 25%;
}
#p1{
  float:right;
clear:both;
  height: 50px;
 background-color: #9932CC;
}

  #p2{
    float: right;
clear:both;
    height: 50px;
    background-color: #ADD8E6;
}

    #p3{
      float:left;

      height: 50px;
      background-color: #191970;
    }
  #p4{
        float: left;
clear:both;
        height: 50px;
        background-color: #008B8B;
      }
@media (min-width: 1200px)
{
  div.container4
  { position: relative;
    margin: 20px 300px 0px 650px;
    width: 600px;
    height: 650px;
    border: 5px solid black;
    border-radius: 40px;
    background: url("espacio.jpg") no-repeat center;
    overflow: auto;

  }

  #pp1{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50px;
    background: url("rama dnt.png") no-repeat center;
    position:absolute;
    left:390px;
    top:0px;
  }
  #pp1:hover{
    background: url("te odio con cariño.jpg") no-repeat center ;
    transition: background 3s;

  }

  #pp2{
    height: 200px;
  width: 200px;
border: 3px solid black;
border-radius: 50px;
background: url("rama extran.png") no-repeat center;
position:absolute;
right:390px;
top:0px;
}
#pp2:hover{
  background: url("trolo.png") no-repeat center;
  transition: background 3s;

}

  #pp3{
    height: 200px;
  width: 200px;
border: 3px solid black;
border-radius: 50px;
background: url("rama fotolog.png") no-repeat center;
position:absolute;
left:390px;
bottom: 0px;
}
#pp3:hover{
  background: url("tonto.png") no-repeat center;
  transition: background 3s;

}

  #pp4{
    height: 200px;
  width: 200px;
border: 3px solid black;
border-radius: 50px;
background: url("ramacara.png") no-repeat center;
position:absolute;
right:390px;
bottom:0px;
}
#pp4:hover{
  background: url("puto.png") no-repeat center;
  transition: background 3s;

}

#pp5{
  height: 200px;
  width: 200px;
border: 3px solid black;
border-radius: 50px;
background: url("branca.png") no-repeat center;
position:absolute;
top: 200px;
bottom:300px;
left: 200px;
right: 200px;

}
#pp5:hover{
  background: url("hermosa.png") no-repeat center;
  transition: background 3s;
}
}

@media (min-width: 992px) and (max-width:1199px)  , (min-width:340px) and (max-width: 991px)
{
  div.container4
  { position: relative;
    margin: 20px 300px 0px 0px;
    width: 600px;
    height: 650px;
    border: 5px solid black;
    border-radius: 40px;
    background: url("espacio.jpg") no-repeat center;
    overflow: auto;

  }
  #pp1{
    height: 200px;
    width:200px;
    border: 3px solid black;
    border-radius: 50px;
    background: url("rama dnt.png") no-repeat center;
    position:absolute;
    left:390px;
    top:0px;
  }
  #pp1:hover{
    background: url("te odio con cariño.jpg") no-repeat center ;
    transition: background 3s;

  }

  #pp2{
    height: 200px;
    width:200px;
border: 3px solid black;
border-radius: 50px;
background: url("rama extran.png") no-repeat center;
position:absolute;
right:390px;
top:0px;
}
#pp2:hover{
  background: url("trolo.png") no-repeat center;
  transition: background 3s;

}

  #pp3{
    height: 200px;
    width:200px;
border: 3px solid black;
border-radius: 50px;
background: url("rama fotolog.png") no-repeat center;
position:absolute;
left:390px;
bottom: 0px;
}
#pp3:hover{
  background: url("tonto.png") no-repeat center;
  transition: background 3s;

}

  #pp4{
    height: 200px;
    width:200px;
border: 3px solid black;
border-radius: 50px;
background: url("ramacara.png") no-repeat center;
position:absolute;
right:390px;
bottom:0px;
}
#pp4:hover{
  background: url("puto.png") no-repeat center;
  transition: background 3s;

}

#pp5{
  height: 200px;
  width:200px;
border: 3px solid black;
border-radius: 50px;
background: url("branca.png") no-repeat center;
position:absolute;
top: 200px;
bottom:300px;
left: 200px;
right: 200px;

}
#pp5:hover{
  background: url("hermosa.png") no-repeat center;
  transition: background 3s;
}
}
