body{
  margin: 0px;
  padding: 0px;
background-color: black ;
color:white
}
h1 { text-align: center;
color: darkblue;
font-size: 70px;
font-weight:bolder;
font-family:monospace;
background-color: lightblue;
}
h2{ background-color: white;
  font-size: 40px;
  color: darkblue;
  font-family: monospace;
  display: inline;
  position: relative;
  left:800px;
  border: 5px solid DarkOrange;
  border-radius: 10px;
}
h3 { text-align: inherit;
  color: white;
  text-decoration: underline;
  font-family: fantasy;
  font-size: 30px;
}
article{
  text-align: center;
  font-size: 20px;
  color:#00FFFF;
  font-weight: lighter;
  font-family: fantasy;

}
li{
  font-size: 18px;
  color: #FFB6C1;
  font-weight: bold;
  font-family: arial black;
}

#parrafosolo {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  text-decoration:overline underline;
  color: orange;
  font-weight: bolder;
}

#imagen2{padding-left:1400px;
}
#caja {
  background-color: green;
  padding:10px 10px 10px 10px;
  border:3px solid red;
  border-radius: 5px;
  margin: 50px 300px 0px 800px;
  width: 300px;
  box-sizing: border-box;
}
#contenidodecaja{
  color:black;
  background-color: white;
  text-align: center;

}


div > ul.ul1 {
  position: relative;
  left:800px;
}
div > ul.ul1 {
  list-style: none;

}
div > ul.ul1 >li > a:link, div > ul.ul1 > li > a:visited {
  text-decoration: none;
  color:black;
  background-color: orange;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 3px;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 30px;
  font-family:monospace;

}
div > ul.ul1 > li > a:hover, div > ul.ul1 > li > a:active {
  background-color: blue;
  color: white;
  transition: background-color 1s;
}
